doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/vendors/bootswatch/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumborton-narrov.css')
    //- link(rel='stylesheet', href='http://csshake.surge.sh/csshake-default.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/solarized-dark.min.css")
  body
    block content
    
    script(src='/vendors/jquery/dist/jquery.min.js')
    script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js')
    