doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/vendors/bootswatch/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/vendors/jumborton-narrov.css')
    link(rel='stylesheet', href='http://csshake.surge.sh/csshake-default.css')
   
  body
    block content
    
    script(src='/vendors/jquery/dist/jquery.min.js')
    script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
